{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
      "arrow-spacing": "error",
      "eol-last": "error",
      "indent": [2, 2],
      "jsx-quotes": "error",
      "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
      "keyword-spacing": "error",
      "no-console": "off",
      "no-trailing-spaces": "error",
      "quotes": ["error", "single", { "avoidEscape": true }],
      "react/prop-types": "off",
      "semi": ["error", "never"],
      "space-before-blocks": "error",
      "space-infix-ops": "error",
  },
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
