# Build
public
webpack-assets.json

# Do not store config. See more at https://12factor.net/config.
.env
.env.*

# NPM et al.
flow-typed
node_modules
npm-debug.log

# Ops
ops/.vagrant

# IDEs
.idea
.vscode
.project

# OS
.DS_Store
