
#search-bar {
    width: 300px;
}

.dropdown-item {
    overflow: scroll;
}

.twitter-typeahead .tt-dropdown-menu {
     position: absolute !important;
     z-index:9999 !important;
}

.tt-query {
     backgroud-color: #fff !important;
}

.tt-menu {
     backgroud-color: #fff !important;
}

.node {
    cursor: pointer;
}

.node_text {
    font-size: 13px;
}

.important_node_text {
    font-size: 15px;
    font-weight: bold;
}

.unimportant_node_text {
    font-size: 11px;
    font-style: italic;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

/*.node text {
    font: 15px sans-serif;
}*/

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.right-column {
    right: 0;
    height: 1500px;
    border-left: solid 1px;
    z-index: 2;
    border-right: none;
    background-color: white;
    padding-right: 0px !important;
    margin-top: -100px;
    border-top: none;
}

.circle {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: solid 1px steelblue;
    display: inline-block;
    margin-right: 5px;
    margin-left: 20px;
}

#individus {
    background-color: rgb(251, 208, 208);
}

#menages {
    background-color: rgb(255, 255, 144);
}

#familles {
    background-color: rgb(173, 241, 173);
}

#foyers_fiscaux {
    background-color: lightsteelblue;
}

.legend {
    padding: 8px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-left: -10px;
    padding-left: 15px;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    width:100%;
    background-color: white;
}

.toggle_important {
    z-index: 10000;
    position: fixed;
    bottom: 20px;
    left: 0;
    cursor: pointer;
    background-color: green;
}

.toggle_unimportant {
    z-index: 10000;
    position: fixed;
    bottom: 20px;
    left: 100px;
    cursor: pointer;
    background-color: red;
}

.d3-navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
}

.node-size {
    font-size: 12px !important;
    padding: 3px !important;
}

.node-description {
    margin-left: 15px;
}

#loading {
    margin-top: 5em;
}
