[Unit]
Description=OpenFisca Legislation Explorer

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory={{ legislation_explorer_source_dir | quote }}
User={{ unix_user_name }}
Group={{ unix_group_name }}

[Install]
WantedBy=multi-user.target
