[Unit]
Description=OpenFisca Legislation Explorer

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory={{ legislation_explorer_source_dir | quote }}
User={{ legislation_explorer_unix_user_name }}
Group={{ legislation_explorer_unix_group_name }}
Restart=always

[Install]
WantedBy=multi-user.target
