NODE_ENV=production

HOST={{ app_host }}
PORT={{ app_port }}
PATHNAME={{ base_path }}

API_URL={{ api_url | quote }}
CHANGELOG_URL={{ changelog_url | quote }}

UI_STRINGS={{ ui_strings | regex_replace('\n', '') | regex_replace(" +", "") }}

{% if matomo_url %}
MATOMO_URL={{ matomo_url }}
{% endif %}

{% if matomo_site_id %}
MATOMO_SITE_ID={{ matomo_site_id }}
{% endif %}
