header {
  margin-top: 1em;
  margin-bottom: 2em;
}

header h1, header.jumbotron h1 {
  margin-top: 0;
  font-size: 250%;
}

header a {
  font-weight: 600;
}

header img {
  margin-top: 1em;
  max-width: 12em;
}

header .openfiscaPresentation p {
  font-size: 90%;
  margin-top: 1em;
}


tr.first-bracket:not(:first-child) > td {
  border-top-width: 5px;
}

/* OpenFisca variable and parameter description */
p.description {
  font-size: large;
  margin-top: 3%;
}

p.documentation {
  margin-left: 2em;
  white-space: pre-line;
}

span.variable-metadata {
  font-weight: bold;
}

span.message {
  display: block;
  margin-bottom: 1.5em;
}

table.in-metadata {
  margin-top: 1em;
}

td.list-entry {
  font-weight: bold;
}

.loading {
  font-size: 200%;
  text-align: center;
}

.loading .glyphicon-refresh {
  display: block;
  margin-bottom: .5em;

  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.alert .glyphicon-alert {
  margin-right: 0.5em;
}

.alert h1 {
  margin-top: 0;
}

footer {
  margin-top: 10em;
}

/* Fix CSS collision between Bootstrap and Swagger-UI */
.swagger-ui pre {
  padding: 0;
  border: none;
  background: none;
}

/* Fix CSS collision between Bootstrap and Highlight */
.hljs {
  background: inherit;
}

.hljs a:hover {
  color: #df5000;
}

nav.btn-group {
  margin-top: 2em;
  display: block;
}
