tr.first-bracket:not(:first-child) > td {
  border-top-width: 5px;
}

footer {
  margin-top: 10em;
}

/* Fix CSS collision between Bootstrap and Swagger-UI*/
.swagger-ui pre {
    padding: 0;
    border: none;
    background: none;
}
