
tr.first-bracket:not(:first-child) > td {
  border-top-width: 5px;
}

/* OpenFisca variable and parameter description */
p.description {
  font-size: large;
  margin-top: 3%;
}
span.variable-metadata {
  font-weight: bold;
}

span.message {
  display: block;
  margin-bottom: 1.5em;
}

table.in-metadata{
  margin-top: 1em;
}

td.list-entry{
  font-weight: bold;
}

footer {
  margin-top: 10em;
}

/* Fix CSS collision between Bootstrap and Swagger-UI */
.swagger-ui pre {
    padding: 0;
    border: none;
    background: none;
}

/* Fix CSS collision between Bootstrap and Highlight */
.hljs {
    background: inherit;
}

.hljs a:hover {
    color: #df5000;
}

nav.btn-group {
    margin-top: 2em;
    display: block;
}
