upstream legislation-explorer {
    server localhost:{{ http_port }};
}

server {
    listen 80;
    server_name {{ host_name }};

    access_log /var/log/nginx/{{ host_name }}-access.log;
    error_log /var/log/nginx/{{ host_name }}-error.log;

    location ~ ^{{ base_url_path }}(.*)$ {
        proxy_pass http://legislation-explorer$1;
        include /etc/nginx/proxy_params;
    }
}
