upstream legislation-explorer {
    server localhost:{{ legislation_explorer_http_port }};
}

server {
    listen 80;
    server_name {{ legislation_explorer_host_name }};

    access_log /var/log/nginx/{{ legislation_explorer_host_name }}-access.log;
    error_log /var/log/nginx/{{ legislation_explorer_host_name }}-error.log;

    location ~ ^{{ legislation_explorer_base_url_path }}(.*)$ {
        proxy_pass http://legislation-explorer$1;
        include /etc/nginx/proxy_params;
    }
}
